In [1]:
from tblfaker import TableFaker

In [2]:
faker = TableFaker()

print("[1]")
for row in faker.generate(["name", "address"], rows=4).as_tuple():
    print(row)

print("\n[2]")
for row in faker.generate(["name", "address"], rows=4).as_tuple():
    print(row)

[1]
Row(name='Richard Wilson', address='8887 Mercedes Throughway\nEast Ianshire, WV 39747')
Row(name='Diane Carpenter', address='3994 Rachael Trace\nEast Melodyville, NV 82657')
Row(name='Benjamin Harrell', address='12521 Andrew Circles\nDavidville, GA 91090')
Row(name='Joshua Snyder', address='25471 Dustin Manor Apt. 901\nPort Jade, OK 37522')

[2]
Row(name='Brandi Young', address='1613 Brown Plains\nWalkerborough, SD 07159')
Row(name='Antonio Stanley', address='64613 Smith Way\nLake Ryan, AZ 83159')
Row(name='Todd Fields', address='375 Eric Curve\nSouth Mistyside, WY 90634')
Row(name='Elizabeth Cowan', address='767 Devin Groves Suite 231\nLucasborough, CO 78498')

In [3]:
seed = 1

print("[1]")
faker = TableFaker(seed=seed)
for row in faker.generate(["name", "address"], rows=4).as_tuple():
    print(row)

print("\n[2]")
faker = TableFaker(seed=seed)
for row in faker.generate(["name", "address"], rows=4).as_tuple():
    print(row)

[1]
Row(name='Ryan Gallagher', address='6317 Mary Light\nSmithview, HI 13900')
Row(name='Amanda Johnson', address='3608 Samuel Mews Apt. 337\nHousebury, WA 13608')
Row(name='Willie Heath', address='868 Santiago Grove\nNicolehaven, NJ 05026')
Row(name='Dr. Jared Ortega', address='517 Rodriguez Divide Suite 570\nWest Melinda, NH 85325')

[2]
Row(name='Ryan Gallagher', address='6317 Mary Light\nSmithview, HI 13900')
Row(name='Amanda Johnson', address='3608 Samuel Mews Apt. 337\nHousebury, WA 13608')
Row(name='Willie Heath', address='868 Santiago Grove\nNicolehaven, NJ 05026')
Row(name='Dr. Jared Ortega', address='517 Rodriguez Divide Suite 570\nWest Melinda, NH 85325')

In [4]:
faker = TableFaker(locale="ja_JP")

for row in faker.generate(["name", "address"], rows=4).as_tuple():
    print(row)

Row(name='高橋 零', address='京都府横浜市磯子区山中新田33丁目12番19号 アーバン鳥越906')
Row(name='宮沢 裕美子', address='高知県三鷹市麹町28丁目2番16号 シャルム猿楽町867')
Row(name='佐藤 明美', address='香川県新宿区東神田15丁目21番6号 皇居外苑ハイツ840')
Row(name='野村 あすか', address='北海道新島村湯宮8丁目26番20号')

In [5]:
import json

faker = TableFaker(seed=1)

print(json.dumps(faker.generate(["name", "address"], rows=2, table_name="dict").as_dict(), indent=4))

{
    "dict": [
        {
            "name": "Ryan Gallagher",
            "address": "6317 Mary Light\nSmithview, HI 13900"
        },
        {
            "name": "Amanda Johnson",
            "address": "3608 Samuel Mews Apt. 337\nHousebury, WA 13608"
        }
    ]
}